<fotter>
  <p>Copyright &copy; 2018 Twitter&ensp;
  <a href="#">Twitterについて</a><br/>
  <a href="#">ヘルプセンター</a>
  <a href="#">規約</a>
  <a href="#">プライバシーポリシー</a><br/>
  <a href="#">クッキー</a>
  <a href="#">広告について</a>
  </p>
</fotter>