
<h1>近畿大学</h1>
<h2>
  <a class="nameLink" href="https://twitter.com/kinkidaigakuPR">@kinkidaigakuPR</a>
</h2>
<p>近畿大学総務部広報室のTwitter公式アカウントです。
近畿大学ホームページの更新情報を中心に、大学に関する情報を発信していきます。
個別DMでのお問い合わせには返信を行っておりませんので、ご了承ください。</p>

<p>大阪府東大阪市</p>
<a href="instagram.com/kinkidaigakupr/">instagram.com/kinkidaigakupr/</a>
<p>2010年12月に登録</p>
<p>
    <%= link_to "ツイート", new_tweet_path, class: "btn" %>
    <%= link_to "ダイレクト", new_tweet_path, class: "btn" %>
</p>
<br/>
