<html>
  <head>
    <title>Twitter</title>
  </head>
  <body id="page">
<% @tweets.each do |t|%>
<br/>
  <%= t.message %>&ensp;
  <%= (Time.current - t.tdate).to_i / 60 %>分前&ensp;
  <%= link_to '表示', tweet_path(t) %>
  <%= link_to '編集', edit_tweet_path(t) %>
  <%= link_to '削除', tweet_path(t), method: :delete %>
  <br/><br/><hr><br/>
<% end %>
 </body>
</html>
