#page {
  background-color: #e6ecf0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: #14171a;
  font-size: 14px;
  overflow-y: scroll;
}

header{
  margin: auto;
  width: 100%;
  height: 620px;
  background-color: #FFFFFF
}

#headerImg1{
  width: 100%;
  margin: 50px 0 40px;
  height: 500px;
}

#headerImg2{
  bottom: 160px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  border: 5px solid #fff;
}

.side{
  margin:0 auto ;
  max-width: 885px;
  width: 80%;
}

#sidebar{
  width: 260px;
  float: left;
  margin: 0 auto;
}

.btn{
  background-color: #008DDE;
  box-shadow: 0 4px 0 #0078BD;
  
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  padding: 10px 30px;
}

.twitter:active {
  top: 2px;
	box-shadow: 0 2px 0 #0078BD;
}
.twitter:hover {
  background-color: #1397D8;
}

h1{
  font-size: 24px;
}

h2{
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.nameLink{
  color: #657786;
}

#content{
  margin: 20px 300px 0px;
  bottom: 100px;
  width: 500px;
  padding: 30px;
  background-color: #FFFFFF
}

#footer{
  font-size: 12px;
  color: #657786;
  clear: both;
}